APP_NAME=NoteFlow Notes Service
APP_VERSION=0.1.0
DEBUG=false

NOTES_SERVICE_HOST=0.0.0.0
NOTES_SERVICE_PORT=8002

AUTH_SERVICE_URL=http://127.0.0.1:8001
NOTES_DATA_SERVICE_URL=http://127.0.0.1:8003

REQUEST_TIMEOUT_SECONDS=5.0
