NOTES_DATA_SERVICE_PORT=8003
APP_NAME=NoteFlow Notes Data Service
APP_VERSION=0.1.0
DEBUG=false

DATABASE_HOST=127.0.0.1
DATABASE_PORT=5433
DATABASE_NAME=noteflow
DATABASE_USER=noteflow_user
DATABASE_PASSWORD=noteflow_pass